* { margin:0; padding:0; font-family: Futura;} /* to remove the top and left whitespace */

html, body {
    /* get rid of default spacing on the edges */
    margin: 0;
    padding: 0;

    /* get rid of that 2px window border in Internet Explorer 6 */
    border: 0;

    /* fill the height of the browser */
    height: 100%;

    /* no more scroll bar */
    overflow: hidden;
}


/* to show the canvas bounds */
canvas {
    border : 1px solid;
    background: #eee;
    position: absolute;
    z-index: 0;
}

svg {
    position: absolute;
    z-index: 5;
}

h1 {
    color: #051488;
    font-size: larger;
    position: absolute;
    z-index: 10;
    padding-left: 29px;
    padding-top: 10px;
}



label {
    position: absolute;
    z-index: 10;
    width: 100px;
    height: 20px;
}

input {
    position: absolute;
    z-index: 10;
    background-color: transparent;
    border-color: #666666;
    font-size: small;
    box-shadow: none;
    border-style: solid;
    border-width: 2px;
}

a {
    font-size: smaller;
    color: #dddddd;
    text-decoration: none;
}

a:visited {
    font-size: smaller;
    color: #dddddd;
    text-decoration: none;
}

a:hover {
    font-size: smaller;
    color: #969696;
    text-decoration: none;
}

#inputIterations {
    width: 68px;
    background-color: transparent;
    border-color: #666666;
}

#inputEscapeRadius {
    width: 68px

}

#iterationsInputWrapper {
    position: absolute;
    top: 33px;
    left: 110px;
    right: 10px;
    bottom: 10px;
    width: 70px;
    height: 20px;
}

#escapeInputWrapper {
    position: absolute;
    top: 56px;
    left: 110px;
    right: 10px;
    bottom: 10px;
    width: 70px;
    height: 20px;
}

#labelIterations {
    position: absolute;
    top: 35px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#labelEscape {
    position: absolute;
    top: 55px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#labelZoom {
    position: absolute;
    top: 75px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#textZoom {
    position: absolute;
    top: 75px;
    left: 110px;
    right: 10px;
    bottom: 10px;
}

#labelColor {
    position: absolute;
    top: 95px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: 60px;
}

#optionsColorWrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 10;
    right: 10px;
    bottom: 10px;
    width: 60px;
    height: 20px;
}

#labelColor {
    position: absolute;
    top: 95px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: 100px;
}

#optionsColor {
    width: 68px;
    background-color: transparent;
    border-color: #666666;
    border-width: 2px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#buttonReset {
    position: absolute;
    z-index: 10;
    top: 120px;
    left: 30px;
    right:10px;
    width: 60px;
}

#buttonRedraw {
    position: absolute;
    z-index: 10;
    top: 120px;
    left: 110px;
    right:10px;
    width: 60px;
}

/* Button Generated By http://www.bestcssbuttongenerator.com/ */
.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color: #000000;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}
.myButton:active {
    position:relative;
    top:5px;
}

#instructions {
    font-size: smaller;
    color: #dddddd;
    position: absolute;
    z-index: 8;
    padding-left: 0px;
    padding-top: 140px;
    text-align: center;
    width: 200px;
    height: 40px;
}

option.red {
    background-color: red;
}

option.green {
    background-color: chartreuse;
}

option.grayscale {
    background-color: #969696;
}

option.blue {
    background-color: royalblue;
}

option.purple {
    background-color: #3f0196;
}
















